include README.md
include LICENSE
include VERSION
include pyproject.toml
include setup.py
recursive-include retunnel *.py
recursive-include tests *.py
recursive-include docs *.md
prune tests/__pycache__
global-exclude *.pyc
global-exclude *.pyo
global-exclude __pycache__
global-exclude .DS_Store
