# Install pytest and plugins
setuptools
pytest
pytest-xdist
pytest-cov

# Install flake8
flake8[pyflakes]

# document
sphinx

# Install mypy
mypy
types-requests

# Install black
black

# Install isort
isort

# vim tools
jedi
pynvim

# publish
twine
