name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ['3.12']

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        pip install -r requirements-dev.txt

    - name: Set up environment variables
      run: echo "TEST_TOKEN=${{ secrets.TEST_TOKEN }}" >> $GITHUB_ENV

    - name: Lint with isort
      run: |
        isort genserver tests

    - name: Format with black
      run: |
        black genserver tests

    - name: Type check with mypy
      run: |
        mypy genserver

    - name: Test with pytest
      env:
        TEST_TOKEN: ${{ secrets.TEST_TOKEN }}
      run: |
        pytest --cov-branch --cov-report=xml

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
